<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传与管理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<!--    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>-->
</head>
<body>
    <h1>上传文件</h1>
    <div class="upload-forms">
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" id="file-form" class="upload-form">
            <input type="file" name="file">
            <input type="submit" value="上传文件" class="upload-button">
        </form>
        <form action="{{ url_for('upload_text') }}" method="post" id="text-form" class="upload-form">
            <textarea name="text" rows="4" cols="50" placeholder="输入文本内容"></textarea>
            <input type="submit" value="上传文本" class="upload-button">
        </form>
    </div>
    <div id="upload-result" class="upload-result"></div>
    <div class="files-list" id="files-list">
        <ul id="file-list">
        </ul>
        <p class="no-files" id="no-files">暂无文件</p>
    </div>
    <script>
        document.getElementById('file-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('{{ url_for("upload_file") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('upload-result').textContent = data.success ? '文件上传成功' : '文件上传失败';
                if (data.success) {
                    updateFileList();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('upload-result').textContent = '文件上传失败';
            });
        });

        document.getElementById('text-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('{{ url_for("upload_text") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('upload-result').textContent = data.success ? '文本上传成功' : '文本上传失败';
                if (data.success) {
                    updateFileList();
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('upload-result').textContent = '文本上传失败';
            });
        });
    </script>
</body>
</html>